<!DOCTYPE html>
<html>
  <head>
    <title>Cars App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/cars/create" method="post">
      Car name: <input type="text" name="car_name" id=""><br/>
      Model Name: <input type="text" name="model_name" id=""><br/>
      Price: <input type="text" name="price" id=""><br/>
      <hr>
      <button type="submit">Create</button>
    </form>
  </body>
</html>
